/*reset de todas as configurações iniciais*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 100%;
}

/*class container, armazena header com nav,ul,img section, input,select,section, p , main,section,footer*/
body {
  background-image: url(img/ceunoite.jpeg);
  font-family: "Harry Potter";
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*uma div dentro do header para exibição ampla*/

/*nav dentro do header para navegação do campo busca*/
.menuWeb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/*personalização individual da lista poderia usar flax box?*/

.itens {
  list-style: none;
  display: flex;

  margin-left: 160px;

  justify-content: center;
  gap: 60%;
  align-items: center;
  margin: 5px;

}
a {


.itens li {
  letter-spacing: 2px;
 margin-left: 120px;
}

  color:#d3a625;


}


.imgMenu {
  width: 90%; 
  height: 98vh;
  opacity: 0.6;
  margin-top: -50px;
}


a:hover {
  opacity: 0.9;
  color: #ae0001;
}
.imgLogo {
  width: 90%;
  margin: auto;
  margin-top: 70px;
  padding: 5px;
}

/*campo de imput e select e botões para navegação*/

.sessaoInput {
  display: flex;
  gap: 50px;
  padding: 60px;
  justify-content: center;
  align-items: center;
  font-size: 75%;
}

#az {
  text-align: center;
  border-radius: 10px;
  background-color:#d3a625;
  color: #ae0001;
  padding: 3px;
}


#listaPerso{
 color: yellow;
  
}
.msgCalc{
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-size:25px;
  margin-left: 290px;
  

}

#listaPerso:hover {
  opacity: 0.9;
  color: rgb(137, 18, 18);

#za {
  text-align: center;
  border-radius: 10px;
  background-color: #d3a625;
  color: #ae0001;
  padding: 3px;

}

/*é um input para busca na section class sessaoinput que armazena a navegação de pesqui selec casa e ordenação*/
#exibir1 {
  text-align: center;

  border-radius: 10px;
  background-color:  yellow;
  border:rgb(137, 18, 18);
  border-radius: 8px;
  background-color: #d3a625;
  color: #ae0001;
  cursor: pointer;
  justify-content: end;
}


::-webkit-input-placeholder {
  color: #ae0001;

}

.select {
  color: #ae0001;
  border-radius: 10px;
  cursor: pointer;
  background-color: #d3a625;
  margin: 5px;
}

/* section que armazena p vazio para apresentar resultado de tamplat JS de função de claculo*/
.msgCalc {
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

/*essa classe faz a estilização no tamplete clriado no JS-   é uma div, dentro de uma section unica no main com classe principal*/
.animation-cards {
  background: rgb(137, 18, 18);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

/* classe criada na função JS para exibição de cards na tela*/
.cards {
  /*display: flex;
  /*justify-content: space-between;
  align-items: center;
  /*flex-direction: column;*/
  margin: 10px -50px 10px 20px;
  background-image: url(img/CartaHogwartas.jpg);
  background-repeat: no-repeat;
  width: 18rem;
  height: 20rem;
  position: relative;
}

/*id criada na função JS para exibição de cards na tela*/
#nomePersonagens {
  word-wrap: break-word;
  padding-top: 100px;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: rgb(137, 18, 18);
  font-weight: bold;
  line-height: 2rem;
  width: 16rem;
}

/* classe criada na função JS para exibição de cards na tela*/
.infoPersonagens {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 50px;
}

footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 1px;
}

.dev {
  color: rgb(243, 241, 241);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.menuMobile {
  display: none;
  flex-direction: column;
}

@media screen and (max-width: 730px) {
  /*display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;*/
  header {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }


.menuMobile{
  display: none;
  flex-direction: column;


  .menuWeb {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .itens {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10%;
    font-size: 60%;
    text-align: center;
    cursor: pointer;    
  }

  .imgLogo {
    max-width: auto;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
  }

  .sessaoInput {
    display: flex;
    flex-direction: column;
  }

  .select {
    color: rgb(247, 246, 246);
    border-radius: 5%;
    cursor: pointer;
    background-color: rgb(69, 69, 69);
    font-size: smaller;
  }


  .botao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
/* Rodapé*/
  footer {
    color: rgb(253, 253, 250);
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 5px;

}
  


@media screen and (max-width: 730px) {
    .menuWeb {
      padding: 1.5rem 4rem;
    }
    .item {
      display: none;
    }
    .menuMobile ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
    }
    .menuMobile .item{
      display: block;
      padding: 1rem 2rem;
    }
    #btn-mobile {
      color:red;
      border: nome;
      cursor: pointer;
      justify-content: end;
    }
    .open {
      display: block;
    }

